<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbse.wnsw.system">

    <application>
        <receiver
            android:name="com.tbse.wnsw.wifiinfo.broadcast_receiver.ScanResultsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCAN_RESULTS_AVAILABLE_ACTION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>